/* استيراد الخطوط */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');

body {
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    background: linear-gradient(to bottom, #e0e0e0, #ffffff);
    color: #333;
    max-width: 1000px;
    margin: 5% auto;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 300px;
    height: auto;
    transition: width 0.3s ease;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    max-width: 300px;
    height: 40px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#progressBar {
    margin: 15px auto;
    width: 80%;
    height: 10px;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.result-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 0.9em;
    line-height: 1.5;
}

.footer-text {
    color: #000; /* اللون الأسود للنص */
}
